@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.navbar-light .navbar-brand {
    color: #90B494;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    font-size: 2.6rem;
    text-decoration: none;
    padding-left: 6rem;
}

.navbar-light .navbar-brand:hover {
    color: #718F94;
    transition: all 0.4s ease;
}

.nav-item .nav-link {
    padding: 0 3rem;
    font-size: 1.3rem;
    letter-spacing: 0.2px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-collapse {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse .nav-item .nav-link {
    text-align: end;
}

.navbar-expand-lg {
    background-color: #fff;
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

body {
    background-color: #fff;
    font-family: 'Mukta', sans-serif;
}

.flashes h4 {
    line-height: 5;
}

.btn.btn-info {
    margin: 2px;
}

.btn.btn-danger {
    margin: 2px;
}

.fa-caret-down {
    padding: 0;
    margin-left: 10px;
}

.toast-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 85px;
    height: auto;
    z-index: 9999;
}

section {
    margin-top: 2rem;
}

section#hero, section#toasts {
    margin-top: 0;
}

.image-container {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#search_container {
    max-width: 60%;
}

.hero-container {
    height: 30vh;
}

.cta-header h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding: 60px 0px 10px 0px;
    margin: 0;
    font-size: 3rem;
}

.cta-buttons h3 {
    padding: 60px 0px 10px 0px;
    font-size: 2rem;
    font-weight: 600;
}

.review-rating {
    white-space: nowrap;
}

@media screen and (min-width: 576px) {
    .hero-container {
        height: 40vh;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        height: 50vh;
    }
}