@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.navbar-light .navbar-brand {
    color: #90B494;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    font-size: 2.6rem;
    text-decoration: none;
}

.navbar-light .navbar-brand:hover {
    color: #718F94;
    transition: all 0.4s ease;
}

.nav-item .nav-link {
    padding: 0 3rem;
    font-size: 1.3rem;
    letter-spacing: 0.2px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-collapse {
    background-color: #ebf2f3;
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse .nav-item .nav-link {
    text-align: end;
}

.navbar-expand-lg {
    background-color: #ebf2f3;
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.navbar-brand i {
    position: relative;
    margin-right: 2px;
    bottom: 5px;
    font-size: 2.7rem;
}

body {
    background-color: #BFC8AD;
    color: #fff;
    font-family: 'Mukta', sans-serif;
}

main {
    margin-bottom: 3rem;
}

.flashes h4 {
    line-height: 5;
}

.btn {
    font-size: 1.2rem;
    margin: 2px;
    border-radius: 0;
    border: none;
}

.review-caret {
    padding: 0;
    background-color: rgba(0,0,0,0.4);
    color: transparent;
    text-shadow: 0px 2px 3px #8fb0b6;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    transition: transform .2s ease-in-out; 
}

.toast-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 85px;
    height: auto;
    z-index: 9999;
}

section {
    margin-top: 3rem;
}

section#hero, section#toasts {
    margin-top: 0;
}

section#hero {
    position: relative;
    background-color: #718F94;
    color: #fff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

.cta-container {
    padding-bottom: 84px;
}

.image-container {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 150px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#search_container {
    max-width: 60%;
}

.hero-container {
    height: 60vh;
}

.cta-header h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding: 40px 0px 10px 0px;
    margin: 0;
    font-size: 3rem;
}

.cta-buttons h3 {
    padding: 15px 0px 10px 0px;
    font-size: 2.3rem;
    font-weight: 600;
}

.btn-light {
    text-shadow: none;
    background-color: #DBCFB0;
    color: #565554;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-light:hover {
    color: #fff;
    background-color: #565554;
    transition: all 0.3s ease;
}

.btn-default {
    text-shadow: none;
    background-color: #90B494;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-default:hover {
    color: #fff;
    background-color: #565554;
    transition: all 0.3s ease;
}

.btn-dark {
    text-shadow: none;
    background-color: #565554;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-dark:hover {
    color: #fff;
    background-color: #90B494;
    transition: all 0.3s ease;
}

.btn-danger {
    background-color: #ce5a73;
}

.btn-info {
    background-color: #74b2d6;
}

.btn-link {
    color: #fff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
    font-size: 1.3rem;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #fff;
    box-shadow: none;
}

#reviews .card-body h5 {
    margin: 1rem 0;
}

.review-rating {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

@media screen and (min-width: 576px) {
    .hero-container {
        height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        height: 50vh;
    }
}

/* CREDITS for the shape divider: https://codepen.io/cmdw/pen/vQqzyB */
.editorial {
    display: block;
    width: 100%;
    height: 80px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    position:absolute;
    left:0px;
    float:left;
}

.parallax1 > use {
    animation: move-forever1 10s linear infinite;
    &:nth-child(1) {
        animation-delay: -2s;
    }
}
.parallax2 > use {
    animation: move-forever2 8s linear infinite;
    &:nth-child(1) {
        animation-delay: -2s;
    }
}
.parallax3 > use {
    animation: move-forever3 6s linear infinite;
    &:nth-child(1) {
        animation-delay: -2s;
    }
}
.parallax4 > use {
    animation: move-forever4 4s linear infinite;
    &:nth-child(1) {
        animation-delay: -2s;
    }
}
@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}
@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}
@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}
@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}


.card {
    border-radius: 0;
    background-color: #718F94;
    border: none;
    outline: none;
}

.card-header h3 {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.input-group-text {
    background: transparent;
    border: none;
    font-size: 1.7rem;
    color: #fff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

.form-control {
    border: none;
    border-radius: 0;
    font-size: 1.1rem;
}

.form-control:focus, .form-control:active {
    box-shadow: none;
}

.rating-stars {
    overflow: hidden;
    min-width: 104px;
    width: 104px;
    max-height: 18px;
    margin-left: 5px;
    color: #DBCFB0;
}
.stars-container {
    white-space: nowrap;
    overflow: hidden;
}

.muted {
    color: #b9d9de;
}

#accordion .card-body {
    font-size: 1.3rem;
}

[data-toggle=collapse] {
    cursor: pointer;
}

.card-body.display-name h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

.card-body.display-name label {
    margin-right: 8px;
    font-size: 1.3rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

.card-body.display-name input {
    padding-left: 8px;
    color: #000;
    font-size: 1.3rem;
    border: none;
    outline: none;
    box-shadow: none;
}

#login .card-body label, #register .card-body label, #add-review .card-body label {
    font-size: 1.7rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

#login .card-body i, #register .card-body i, #add-review .form-group i, #edit-review .form-group i {
    font-size: 1.5rem;
    margin-right: 5px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.30);
}

#add-review .form-group p, #edit-review .form-group p {
    margin-top: 1rem;
    font-size: 1.7rem;
}

/* CREDITS for slider: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #ebf2f3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 20px;
    height: 35px;
    background: #565554;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

a {
    color: #DBCFB0;
}

a:hover {
    color: #fff;
}

footer {
    margin-top: auto;
}
.footer-divider {
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: contain;
    height: 150px;
    position: relative;
    bottom: -2px;
}
.footer-content {
    padding: 1rem 0;
    background-color: #565554;
    color: #DBCFB0;
}

@media screen and (max-width: 576px) {
    .footer-divider {
        height: 70px;
    }
    .input-group-text {
        border: none;
        font-size: 1.7rem;
        background: white;
        border-radius: 0;
        color: #565554;
    }
    .search-buttons {
        margin-left: -4px;
        margin-top: 2px;
    }
    .search-buttons .btn:first-child {
        margin-right: 2px;
        margin-left: 0;
    }
    .search-buttons .btn:last-child {
        margin-right: 0;
        margin-left: 2px;
    }
}