{% extends "base.html" %}
{% block content %}

<section id="login" class="container-xl">
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Log In
                        </h3>
                    </div>
                    <div class="card-body">
                        <!-- username -->
                        <div class="form-group">
                            <i class="fas fa-user-cog"></i>
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" minlength="3"
                                maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" required>
                        </div>
                        <!-- password-->
                        <div class="form-group">
                            <i class="fas fa-user-lock"></i>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>
                    </div>
                    <!-- submit -->
                    <div class="card-footer text-center d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-default">
                            Log In <i class="fas fa-sign-in-alt"></i>
                        </button>
                        <div class="ml-2">
                            New Here? <a href="{{ url_for('register') }}" class="">Register Account</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}