{% extends "base.html" %}
{% block content %}

<div class="container-xl">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">
                        {{ user.username }}'s Profile
                    </h3>
                </div>
                <div class="card-body display-name">
                    <h3>Personal details</h3>
                    <div class="col-12 col-sm-6">
                    <form method="POST">
                        <div class="form-group">
                        <label for="name">Display Name:</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ user.name }}">
                        </div>
                        <input type="submit" value="Update">
                    </form>
                    </div>
                </div>
                <div class="card-body">
                    <h2>My Reviews</h2>
                    <div class="accordion" id="accordion">
                        {% for review in reviews %}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center" id="h{{ review._id }}">
                                <i class="review-caret fas fa-angle-right fa-2x" data-toggle="collapse"
                                        data-target="#c{{ review._id }}" aria-expanded="true"
                                        aria-controls="c{{ review._id }}"></i>
                                <div class="d-flex justify-content-center align-items-start justify-content-md-between align-items-md-center flex-column flex-md-row w-100">
                                    <div class="w-100" data-toggle="collapse" data-target="#c{{ review._id }}"
                                        aria-expanded="true" aria-controls="c{{ review._id }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button">
                                                <strong>{{ review.country }}</strong> : {{ review.city }}
                                            </button>
                                        </h2>
                                    </div>
                                    <div class="review-rating" data-toggle="collapse" data-target="#c{{ review._id }}"
                                        aria-expanded="true" aria-controls="c{{ review._id }}">
                                        <div class="rating-stars" data-toggle="tooltip" data-placement="top"
                                            title="Rated {{ review.rating }}/5">
                                            <div class="stars-container"
                                                style="width: calc(100%/5*{{ review.rating }});">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="empty-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-md-row ml-2">
                                    <a href="{{ url_for('edit_review', review_id=review._id) }}" type="button"
                                        class="btn btn-info btn"><i class="fas fa-pen"></i></a>
                                    <a href="{{ url_for('delete_review', review_id=review._id) }}" type="button"
                                        class="btn btn-danger delete"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            <div id="c{{ review._id }}" class="collapse card-body review-collapse"
                                aria-labelledby="h{{ review._id }}" data-parent="#accordion">
                                <p>{{ review.comment }}</p>
                                <small class="muted">Added: {{ review.added_on }} {% if review.added_on !=
                                    review.edited %}<br>Edited:
                                    {{
                                    review.edited }}{% endif %}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}