{% extends "base.html" %}
{% block content %}
<section id="hero">
    <div class="container-fluid hero-container" style="background-image: url('{{ url_for('images', file='hero-image.jpg') }}');">
        <div class="row h-100 mx-0">
            <div class="col-12 col-md-6 image-container d-none d-md-block"
                style="background-image: url('{{ url_for('images', file='hero-image.jpg') }}');">
            </div>
            <div class="col-12 col-md-6 cta-container h-100 d-flex flex-column justify-content-center">
                <div class="cta-header">
                    <h1 class="text-center">
                        Find the city<br>that fits you best
                    </h1>
                </div>
                <p class="text-center">
                    Finding the right destination shouldn't be hard.<br>From city to city,
                    we make it easy to discover<br>
                    and connect with the best ones for you.
                </p>
                <div class="cta-buttons text-center">
                    <h3 class="text-center">START HERE</h3>
                    <a href="#search-container" type="button" class="btn btn-light">Find A Review</a>
                    <a href="{{ url_for('add_review') }}" type="button" class="btn btn-default">Add A Review</a>
                </div>
            </div>
        </div>
    </div>
    <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
        </defs>
        <g class="parallax1">
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#ebf2f3" opacity="0.9" />
        </g>
        <g class="parallax2">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#565554" opacity="0.6" />
        </g>
        <g class="parallax3">
            <use xlink:href="#gentle-wave" x="50" y="9" fill="#90B494" opacity="0.7" />
        </g>
        <g class="parallax4">
            <use xlink:href="#gentle-wave" x="50" y="6" fill="#BFC8AD" />
        </g>
    </svg>
</section>

<section id="reviews" class="content">
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Reviews
                        </h3>
                    </div>
                    <div class="card-body" id="search-container">
                        <form method="GET" class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                            <div class="w-100 mr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="search-icon"><i
                                                class="fas fa-search"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                                        name="s" id="query" aria-describedby="search-icon" required>
                                </div>
                            </div>
                            <div class="search-buttons d-flex flex-row w-100">
                                <a href="{{ url_for('get_reviews') }}" class="btn btn-dark w-50">Reset</a>
                                <button type="submit" class="btn btn-light w-50">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <!-- Check if search url argument exists, display subtitle and set show_reviews to search_reviews list -->
                        {% if request.args.get('s') %}
                            <h5>Showing results for: <strong>{{ request.args.get('s') }}</strong></h5>
                            {% set show_reviews = search_reviews %}
                        <!-- Otherwise, set show_reviews to recent reviews and set show_top_reviews -->
                        {% else %}
                            {% set show_reviews = recent_reviews %}
                            {% set show_top_reviews = top_reviews %}
                        {% endif %}
                        <!-- Check if there are any reviews -->
                        {% if show_reviews %}
                            <!-- Check if show_top_reviews is set (no search), and display top 5 reviews accordion -->
                            {% if show_top_reviews %}
                            <h5>Highest rated:</h5>
                            <div class="accordion" id="top-reviews">
                                {% for review in show_top_reviews %}
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-start align-items-sm-center flex-column flex-sm-row" id="h{{ review._id }}h">
                                        <div class="d-flex justify-content-center align-items-start flex-row w-100 order-1 order-sm-0">
                                            <i class="review-caret fas fa-angle-right fa-2x" data-toggle="collapse"
                                                    data-target="#c{{ review._id }}h" aria-expanded="true"
                                                    aria-controls="c{{ review._id }}h"></i>
                                            <div class="w-100" data-toggle="collapse" data-target="#c{{ review._id }}h"
                                                aria-expanded="true" aria-controls="c{{ review._id }}h">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" type="button"
                                                        data-toggle="collapse" data-target="#c{{ review._id }}h"
                                                        aria-expanded="true" aria-controls="c{{ review._id }}h">
                                                        <strong>{{ review.country }}</strong> : {{ review.city }}
                                                    </button>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="review-rating order-0 order-sm-1" data-toggle="collapse"
                                            data-target="#c{{ review._id }}h" aria-expanded="true"
                                            aria-controls="c{{ review._id }}h">
                                            <span>{{ review.name }}: </span>
                                            <div class="rating-stars" data-toggle="tooltip" data-placement="top"
                                                title="Rated {{ review.rating }}/5">
                                                <div class="stars-container"
                                                    style="width: calc(100%/5*{{ review.rating }});">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="empty-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if session.user == review.user %}
                                            <div class="d-flex flex-row ml-2 order-2">
                                                <a href="{{ url_for('edit_review', review_id=review._id) }}" type="button"
                                                    class="btn btn-info btn"><i class="fas fa-pen"></i></a>
                                                <a href="{{ url_for('delete_review', review_id=review._id) }}" type="button"
                                                    class="btn btn-danger delete"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div id="c{{ review._id }}h" class="collapse card-body review-collapse"
                                        aria-labelledby="h{{ review._id }}h" data-parent="#top-reviews">
                                        <p>{{ review.comment }}</p>
                                        <small class="muted">Added: {{ review.added_on }} {% if review.added_on !=
                                            review.edited %}<br>Edited:
                                            {{
                                            review.edited }}{% endif %}</small>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <!-- Display previously set show_reviews accordion, search or recent -->
                            <div class="accordion" id="accordion">
                                {% if not request.args.get('s') %}
                                    <h5>Most recent:</h5>
                                {% endif %}
                                {% for review in show_reviews %}
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-start align-items-sm-center flex-column flex-sm-row" id="h{{ review._id }}">
                                        <div class="d-flex justify-content-center align-items-start flex-row w-100 order-1 order-sm-0">
                                            <i class="review-caret fas fa-angle-right fa-2x" data-toggle="collapse"
                                                    data-target="#c{{ review._id }}" aria-expanded="true"
                                                    aria-controls="c{{ review._id }}"></i>
                                            <div class="w-100" data-toggle="collapse" data-target="#c{{ review._id }}"
                                                aria-expanded="true" aria-controls="c{{ review._id }}">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" type="button"
                                                        data-toggle="collapse" data-target="#c{{ review._id }}"
                                                        aria-expanded="true" aria-controls="c{{ review._id }}">
                                                        <strong>{{ review.country }}</strong> : {{ review.city }}
                                                    </button>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="review-rating order-0 order-sm-1" data-toggle="collapse"
                                            data-target="#c{{ review._id }}" aria-expanded="true"
                                            aria-controls="c{{ review._id }}">
                                            <span>{{ review.name }}: </span>
                                            <div class="rating-stars" data-toggle="tooltip" data-placement="top"
                                                title="Rated {{ review.rating }}/5">
                                                <div class="stars-container"
                                                    style="width: calc(100%/5*{{ review.rating }});">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="empty-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if session.user == review.user %}
                                            <div class="d-flex flex-row ml-2 order-2">
                                                <a href="{{ url_for('edit_review', review_id=review._id) }}" type="button"
                                                    class="btn btn-info btn"><i class="fas fa-pen"></i></a>
                                                <a href="{{ url_for('delete_review', review_id=review._id) }}" type="button"
                                                    class="btn btn-danger delete"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div id="c{{ review._id }}" class="collapse card-body review-collapse"
                                        aria-labelledby="h{{ review._id }}" data-parent="#accordion">
                                        <p>{{ review.comment }}</p>
                                        <small class="muted">Added: {{ review.added_on }} {% if review.added_on !=
                                            review.edited %}<br>Edited:
                                            {{
                                            review.edited }}{% endif %}</small>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h3 class="text-center">No Results Found!</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}