{% extends "base.html" %}
{% block content %}

<h3 class="text-center">All Reviews</h3>

<div class="container">
    <div class="row card">
        <form method="POST" class="col-12">
            <div class="row text-center">
                <div class="col">
                    <i class="fas fa-search"></i>
                    <input type="text" name="query" id="query" minlength="3" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col">
                    <a href="{{ url_for('get_reviews') }}" class="btn btn-danger">Reset</a>
                    <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if reviews|length > 0 %}
<div class="accordion" id="accordion">
    {% for review in reviews %}
    <div class="card">
        <div class="row">
            <div class="col-2 d-flex align-items-center caret-container">
                <a type="button" data-toggle="collapse" data-target="#c{{ review._id }}" aria-expanded="true"
                    aria-controls="c{{ review._id }}"><i class="fas fa-caret-down fa-2x"></i></a>
                <div class="col d-flex">
                    {% if session.user == review.user %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" type="button"
                        class="btn btn-info">Edit</a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" type="button"
                        class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="card-header" id="h{{ review._id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#c{{ review._id }}" aria-expanded="true" aria-controls="c{{ review._id }}">
                            <strong>{{ review.country }}</strong> : {{ review.city }}
                        </button>
                    </h2>
                </div>
                <div id="c{{ review._id }}" class="collapse" aria-labelledby="h{{ review._id }}"
                    data-parent="#accordion">
                    <div class="card-body">
                        <strong>{{ review.name }} : {{ review.rating }}</strong>
                        <p>{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}

<h3 class="text-center">No Results Found!</h3>

{% endif %}
{% endblock %}